[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "==2.22.0"
furl = "==2.0.0"
jmespath = "==0.9.4"
func-timeout = "==4.3.5"
dxlstreamingclient = "==0.1.1"

[requires]
python_version = "3.7"

[dev-packages]
mock = "==3.0.5"
pytest = "==4.5.0"
coverage = "==4.5.3"
coveralls = "==1.7.0"
pytest-cov = "==2.7.1"
numpy = "==1.16.3"
